.editor-canvas {
  padding: 0% 10% 0% 25%;
}

#page-title {
  font-size: 3rem; /* 48px */
  line-height: 1;
  font-weight: 700;
}

/* EDITOR */
#editor {
  margin-top: 3rem;
}
/* spacing every line */
.tiptap {
  > * + * {
    margin-top: 0.5em;
  }
}
/* placeholder every new node */
.tiptap p.is-empty::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}
.tiptap .is-empty::before {
  content: attr(data-placeholder);
  float: left;
  color: #d0d5d9;
  pointer-events: none;
  height: 0;
}

/* color font */
/* .ProseMirror > p {
  color: blue;
} */
* {
  color: #272829;
}
/* disable outline editor */
.ProseMirror-focused {
  outline: none;
}

/* Block mode style */
.has-focus {
  border-radius: 3px;
  box-shadow: 0 0 0 0.5px #D8D9DA;
  padding: 4px 12px;
}

.mention {
  border: 1px solid #000;
  border-radius: 0.4rem;
  padding: 0.1rem 0.3rem;
  box-decoration-break: clone;
}

.ProseMirror > * {
  padding: 8px 0;
}

/* Heading style */
h1.title {
  font-size: 3rem; /* 36px */
  line-height: 2.5rem; /* 40px */
  @apply border-b pb-12 font-bold
}
h1.heading {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
  font-weight: 700;
}
h2.heading {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
  font-weight: 700;
}
h3.heading {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  font-weight: 700;
}

/* Ordered List Style */
ol.orderedList {
  list-style-type: decimal;
  padding:0 16px 0 16px;
}

ol.orderedList ol.orderedList{
  margin-left: 1.25rem;
}
ol.orderedList li p{
  padding: 8px;
  margin-left: 4px;
}

/* Bulleted List Style */
ul.bulletedList {
  list-style-type: disc;
  /* padding-left: 2vh; */
  padding: 0 0 0 2vh;
}
ul.bulletedList li p{
  padding: 8px;
}
ul.bulletedList ul.bulletedList {
  margin-left: 1.25rem;
  list-style-type: circle;
}
ul.bulletedList ul.bulletedList ul.bulletedList {
  margin-left: 1.25rem;
  list-style-type: square;
}

/* Column Style */
.ProseMirror .column-block {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 24px;
  padding: 8px 0;
}
.ProseMirror .column {
  overflow: auto;
  box-shadow: 0 0 0 0.15px #D8D9DA;
  border: 1px gray solid;
  border-radius: 6px;
  padding: 8px;
  margin: -8px;
}

/* code style */
.ProseMirror pre {
  background: #0D0D0D;
  border-radius: 3px;
  padding: 8px 16px;
}
.ProseMirror pre code {
  color: inherit;
  color: #FFF;
  font-size: 0.8rem;
  font-family: 'Courier New', Courier, monospace;
}

/* blockquote style */
blockquote.blockquote {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  border-left: 4px solid rgba(10, 10, 10, 0.859);
}

/* Todo List */
ul[data-type="taskList"] {
	 list-style: none;
	 padding: 0;
}
 ul[data-type="taskList"] p {
	 margin: 0;
  padding: 8px 8px;
}
 ul[data-type="taskList"] li {
	 display: flex;
}
 ul[data-type="taskList"] li > label {
	 flex: 0 0 auto;
   padding: 8px 0px 8px 0;
	 margin-right: 0.5rem;
   margin-left: -4px;
	 user-select: none;
}
 ul[data-type="taskList"] li > div {
	 flex: 1 1 auto;
}
 ul[data-type="taskList"] li ul li, ul[data-type="taskList"] li ol li {
	 display: list-item;
}
 ul[data-type="taskList"] li ul[data-type="taskList"] > li {
	 display: flex;
}
 

/* bubble menu */
#bubbleMenu {
  border-radius: 4px;
  background: white;
  /* padding: 2px 12px; */
  display: flex;
  width: max-content;
  @apply shadow-md
}
.bubble-menu-btn {
  padding: 4px 8px;
}
.bubble-menu-btn:hover {
  background-color: #e2e1e1fa;
}